/* .calendar-container,
.calendar,
.calendar-header,
td,
tr {
    padding: 0;
    margin: 0;
} */

.calendar-container {

    border: 2px solid skyblue;
    
}

.calendar {
    background-color: white;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.calendar-header {
    border-bottom: 1px dashed skyblue;
}

.calendar-header td {
    border-spacing: 0;
    padding-left: 5px;
}

.day,
.empty-slot,
.week-day {
    text-align: center;
    height: 40px;
}

.empty-slot {
    border: 1px solid pink;
}

.week-day {
    font-size: 1.8em;
}

.day {
    font-size: 1.2em;
}

.day {
    cursor: pointer;
    width: 20px;
    height: 70px;
    line-height: 20px;
    border-radius: 2px;
}

.has-event {
    border: 1px solid aquamarine;
}

.day:focus {
    background-color: rgb(37, 58, 97);
    color: white;
}

.current-day {
    background-color: pink;
    width: 20px;
    line-height: 20px;
    border-radius: 2%;
    color: white;
}

.weeks {
    background-color: skyblue;
    width: 28px;
    height: 45px;
    line-height: 28px;
    border-radius: 2%;
    color: white;
}


.month-popup {
    position: absolute;
    padding: 5px;
    background: white;
    border: 2px solid skyblue;
}

.month-popup div {
    padding: 0.3em;
}

.nav.month {
    position: absolute;
    top: .6em;
    font-size: 0.6em;
    right: 3px;
}


