.future-event-color {
  background-color: rgb(226, 226, 68);
  color: white;
  border-radius: .25rem;
}

.old-event-color {
  background-color: rgb(226, 68, 68);
  color: white;
  border-radius: .25rem;
}

.edit-icon {
  opacity: 0;
  transition: all 0.5s;
  cursor: pointer;
}

.d-flex:hover .edit-icon {
  opacity: 1;
}

#month-name {
  font-family: 'Open Sans', sans-serif;
  color: #685454;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 1px 1px;
  position: relative;
}
#month-name:after {
  content:"OCTOBER";
  position: absolute;
  left: 4px;
  top: 4px;
}
#month-name:after {
  background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #ebd5d5 50%, transparent 50%, transparent 75%, #555 75%);
  background-size: 4px 4px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -5;
  display: block;
  text-shadow: none;
}

.logo-color {
  color: white!important;
  font-size: 16px;
  font-weight: bold;

}